<%= render 'common/header' %>

<div class="main-container" id='main-projects'>
  <section class="contained-projects">
    <div class="container">
      <%= link_to 'new Project', new_project_path, remote: true, class: 'btn-sm', id: 'new-project' %>
      <h1 class='text-center'>Projects</h1>
      <!--end of row-->
      <div class="row">
        <% @projects.each do |project| %>
          <div class="col-md-4 col-sm-6 project" data-filter="web">
            <h2><%= link_to "#{ project.name }", project %></h2>
            <span><%= "#{ project.description }" %></span>
          </div><!--end of project-->
        <% end %>
      </div><!--end of row-->
    </div><!--end of container-->
  </section>
</div>
