<div class="main-container">

  <section class="contained-projects">
    <%= link_to "Back to Dashboard", dashboard_index_path, class: "btn btn-default" %>
    <div class="col-sm-8 col-sm-offset-2">
      <h3 ><%= "#{ @project.name }" %></h3>
      <%= "#{ @project.description }" %>
    </div>
  </section>
</div>
